<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colorActual">

  <ion-button expand="full" shape="round" (click)="goBack()">
    Ir al intro
  </ion-button>

  <swiper-container 
    slides-per-view="1.2"
    space-between="15"
    pagination="true"
    centered-slides="true"
    loop="true">

    <swiper-slide 
      *ngFor="let artist of artists"
      (click)="showSongsByArtist(artist.id)">

      <div class="artist-card">

        <img 
          [src]="artist.image"
          class="artist-img">

        <h3>{{ artist.name }}</h3>

      </div>

    </swiper-slide>

  </swiper-container>

  <div class="storage-box">
    <h3>Demo Ionic Storage</h3>
    <p>Tema actual: {{ colorActual === coloruno ? 'Azul' : 'Negro' }}</p>
  </div>

  <ion-button expand="full" shape="round" (click)="cambiarcolor()">
    Cambiar Tema y Guardar
  </ion-button>

</ion-content>
<ion-footer>
  <ion-text color="danger" *ngIf="!song?.name">
    <h2>Aqui aparece nuestra cancion</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song?.name">
    <h2>{{song.name}}</h2>
  </ion-text>
</ion-footer>
