<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="colorActual">
  <swiper-container
  pagination='true'
  loop='true'
  >
  
  <swiper-slide *ngFor="let genre of genres">
    <div class="slide-content">
      <h2>{{ genre.title }}</h2>
      <img [src]="genre.image" [alt]="genre.title">
      <p>{{ genre.description }}</p>
    </div>

  </swiper-slide>
</swiper-container>

<ion-button (click)="cambiarcolor()">
  Cambiar Tema
</ion-button>


</ion-content>
